<li class="list-group-item fw-bold mt-3">محور التحليل</li>
{% include nav/nav_analysis.html %}
<li class="list-group-item fw-bold mt-3">محور الجبر</li>
{% include nav/nav_algebra.html %}
<li class="list-group-item fw-bold mt-3">الإحتمالات و الإحصاء</li>
{% include nav/nav_probaStat.html %}
<li class="list-group-item fw-bold mt-3">محور الهندسة المستوية</li>
{% include nav/nav_planeGeo.htmt %}
<li class="list-group-item fw-bold mt-3">محور الهندسة في الفضاء</li>
{% include nav/nav_solidGeo.htmk %}                
<li class="list-group-item fw-bold mt-3">إمتحانات بكالوريا سابقة مع الحلول</li>
{% include nav/nav_BACSol.html %}












                                                </ul>
