<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{ 'limits_hub/' | relative_url }}" class="text-decoration-none">النهايات</a></li>
    <li class="list-group-item"><a href="{{ 'maths-analy-limit-pra-ex001/' | relative_url }}" class="text-decoration-none">تطبيقات على النهايات</a></li>
    <li class="list-group-item"><a href="{{ 'continuity_hub/' | relative_url }}" class="text-decoration-none">الإستمرارية</a></li>
    <li class="list-group-item"><a href="{{ 'maths-analy-conti-pra-ex001/' | relative_url }}" class="text-decoration-none">تطبيقات على الاستمرارية</a></li>
    <li class="list-group-item"><a href="{{ 'differentiation_hub/' | relative_url }}" class="text-decoration-none">الإشتقاقية</a></li>
    <li class="list-group-item"><a href="{{ 'log_fn_hub/' | relative_url }}" class="text-decoration-none">الدوال اللوغاريتمية</a></li>
    <li class="list-group-item"><a href="{{ 'exp_fn_hub/' | relative_url }}" class="text-decoration-none">الدوال الأسية</a></li>
    <li class="list-group-item"><a href="{{ 'growth_comparison_hub/' | relative_url }}" class="text-decoration-none">التزايد المقارن</a></li>
    <li class="list-group-item"><a href="{{ 'primitives_hub/' | relative_url }}" class="text-decoration-none">الدوال الأصلية</a></li>
    <li class="list-group-item"><a href="{{ 'integral_hub/' | relative_url }}" class="text-decoration-none">الحساب التكاملي</a></li>
    <li class="list-group-item"><a href="{{ 'diff_equations_hub/' | relative_url }}" class="text-decoration-none">المعادلات التفاضلية</a></li>
</ul>



