<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{ 'sequences_hub/' | relative_url }}" class="text-decoration-none">المتتاليات العددية</a></li>
    <li class="list-group-item"><a href="{{ 'divisibility_in_Z_hub/' | relative_url }}" class="text-decoration-none">القسمة في $\mathbb{Z}$</a></li>
    <li class="list-group-item"><a href="{{ 'congruences_hub/' | relative_url }}" class="text-decoration-none">الموافقات في $\mathbb{Z}$</a></li>
    <li class="list-group-item"><a href="{{ 'prime_numbers_hub/' | relative_url }}" class="text-decoration-none">الأعداد الأولية</a></li>
    <li class="list-group-item"><a href="{{ 'complex_numbers_hub/' | relative_url }}" class="text-decoration-none">الأعداد المركبة</a></li>
</ul>
