<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{ 'sequences_hub/' | relative_url }}" class="text-decoration-none">المتتاليات العددية</a></li>
    <li class="list-group-item"><a href="{{ '/02_algebra/02_divisibility_in_z/index.html' | relative_url }}" class="text-decoration-none">القسمة في $\mathbb{Z}$</a></li>
    <li class="list-group-item"><a href="{{ '/02_algebra/03_congruences_in_z/index.html' | relative_url }}" class="text-decoration-none">الموافقات في $\mathbb{Z}$</a></li>
    <li class="list-group-item"><a href="{{ '/02_algebra/04_prime_numbers/index.html' | relative_url }}" class="text-decoration-none">الأعداد الأولية</a></li>
    <li class="list-group-item"><a href="{{ '/02_algebra/05_complex_numbers/index.html' | relative_url }}" class="text-decoration-none">الأعداد المركبة</a></li>
</ul>
