<ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="{{ '/06_BAC_Solutions/exp_sciences/index.html' | relative_url }}" class="text-decoration-none">شعبة العلوم التجريبية</a></li>
    <li class="list-group-item"><a href="{{ '/06_BAC_Solutions/maths_branch/index.html' | relative_url }}" class="text-decoration-none">شعبة الرياضيات</a></li>
    <li class="list-group-item"><a href="{{ '/06_BAC_Solutions/technical_maths/index.html' | relative_url }}" class="text-decoration-none">شعبة الرياضيات التقنية</a></li>
</ul>
