<!DOCTYPE html>
<html lang="ar" dir="rtl" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <style>
        /* إخفاء محتوى الصفحة حتى يكتمل التحميل */
        body { visibility: hidden; }
        /* إظهار البريلاودر فقط */
        #loader-wrapper { visibility: visible; }
    </style>

    {% include head_links.html %}
</head>
<body>
    {% include preloader.html %}
    {% include debug_header.html %}

    <div class="container my-5 py-5">
        {{ content }}
    </div>

    {% include sidebar.html %}
    {% include footer.html %}
    {% include scripts.html %}

</body>
</html>

