---
layout: default
---
<div class="d-flex justify-content-between align-items-center mb-2">
    <h1 class="text-primary fw-bold">{{ page.title }}</h1>
    <span class="badge bg-info" id="{{ page.lessonID }}-val">0%</span>
</div>
<div class="progress" style="height: 10px;">
        <div id="{{ page.lessonID }}-bar" class="progress-bar bg-success" role="progressbar" style="width: 0%"></div>
</div>

{% for el in page.elements %}

    {% if el.h3 %}
        <h3 {% if el.id %}id="{{ el.id }}"{% endif %} class="text-primary mb-4">
            {% if el.h3.text %}
                {{ el.h3.text }}
            {% else %}
                {{ el.h3 }}
            {% endif %}
        </h3>
    {% endif %}


    {% if el.parags %}
        {% for parag in el.parags %}
            {% if parag.ltr %}
                <p dir="ltr">{{ parag.ltr }}</p>
            {% elsif parag.center %}
                <p class="text-center" dir="ltr">{{ parag.center }}</p>
            {% else %}
                <p>{{ parag.rtl }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if el.tableLines %}
        <div class="table-responsive math-wrapper">
            <table class="table table-bordered text-center" 
                   dir="ltr" style="font-size:0.8rem;">
                <tbody>
                    {% for line in el.tableLines %}
                    <tr>
                        {% for cel in line %}
                        <td>"{{ cel }}"</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %} 

    {% if el.notes %}
        <div class="text-body-secondary small border-start ps-3 my-3">
            <p><strong>تنبيه:</strong></p>
            {% for note in el.notes %}
                {% if note.ltr %}
                    <p dir="ltr">{{ note.ltr }}</p>
                {% elsif note.center %}
                    <p class="text-center" dir="ltr">{{ note.center }}</p>
                {% else %}
                    <p>{{ note.rtl }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if el.N.B. %}
    <div class="alert alert-warning border-0 shadow-sm mt-3" role="alert">
        <div class="d-flex align-items-center mb-2">
            <i class="bi bi-lightbulb-fill me-2 text-warning fs-4"></i>
            <strong class="text-dark">فائدة (Nota Bene):</strong>
        </div>
        {% for item in el.N.B. %}
             {% if item.ltr %}
                <p dir="ltr" class="mb-1">{{ item.ltr }}</p>
            {% elsif item.center %}
                <p class="text-center dir-ltr mb-1">{{ item.center }}</p>
            {% else %}
                <p class="mb-1">{{ item.rtl }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

{% endfor %}

<hr class="mt-5">
<div class="navigation-links d-flex justify-content-between align-items-center py-4">
    <div class="previous-link">
        {% if page.previous_url %}
        <a href="{{ page.previous_url | relative_url }}" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-right ml-2"></i> السابق: {{ page.previous_title }}
        </a>
        {% endif %}
    </div>

    <div class="next-link">
        {% if page.next_url %}
        <a href="{{ page.next_url | relative_url }}" class="btn btn-primary">
            التالي: {{ page.next_title }} <i class="fas fa-arrow-left mr-2"></i>
        </a>
        {% endif %}
    </div>
</div>



                 
